<h2>Poems</h2>

<div>
  <% if @current_user.present? %>
    <%= link_to 'NEW POEM', new_poem_path %>
  <% else %>
  <p>
    <%= link_to 'SIGN IN', login_path %> or
    <%= link_to 'SIGN UP',  new_user_path %> to add poems
  </p>
  <% end %>

</div>


<div class="wrapper">

  <% @poems.each do |poem| %>
    <div class="inspiration">
      <p>
        <%= poem.title %><br>
        <%= poem.content %>
      </p>
      <div>
        <%= link_to 'SHOW', poem_path(poem.id) %>
      </div>
    </div>
  <% end %>
</div>
