<h2>Create Magic</h2>

<%= form_for @poem do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, 'Poem' %>
    <%= f.text_field :content, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%=  f.label :category %>
    <%= f.collection_select :category_ids, Category.all, :id, :name, :multiple => true, :prompt => 'Select' %>
  </div>


  <%= f.submit :class => 'btn btn-default' %>
  <% end %>
