<!DOCTYPE html>
<html>
<head>
  <title>PoeticPursuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
</head>
<body>

  <nav>
    <%= link_to 'HOME', root_path %>
    <%= link_to 'POEMS', poems_path %>
    <%= link_to 'CATEGORIES', categories_path %>
    <% if @current_user.present? %>
      <%= link_to "#{@current_user.name}", my_poems_path %>
      <%= link_to "SIGN OUT", login_path, :method => 'delete' %>
    <% else %>
      <%= link_to 'SIGN IN', login_path %>
      <%= link_to 'SIGN UP', new_user_path %>
    <% end %>
  </nav>


  <div class="container">

    <%= yield %>
  </div>
</body>
</html>
